.btn {
  font-size: $btn-font-size;
  line-height: 1;
  font-weight: normal;
  i {
    margin-right: .3125rem;
  }
  &.btn-rounded {
    @include border-radius(50px);
  }
  &.btn-lg {
    font-size: $btn-font-size-lg;
  }
  &.activate-btn {
    font-size: 0.75rem;
    border: 1px solid rgba(#ffffff, 0.3);
    font-weight: $font-weight-medium;
    padding: 0.9375rem 1.0625rem;
    @media (max-width: 576px) {
      font-size: 0.6rem;
      padding: 0.4375rem 0.6625rem;
    }
  }
}
/* inverse buttons */
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    &:not(.btn-light):not(.btn-secondary) {
      color: $white;
      &:hover,
      &:focus,
      &:active {
        color: $white;
      }
      &:focus,
      &:active {
        background: $value;
        border-color: $value;
      }
    }
  }
}