/* You can add global styles to this file, and also import other style files */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* === Plugin styles === */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../assets/styles/_variables.scss";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "../assets/styles/_fonts.scss";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";

/* === Template mixins === */
@import "../assets/styles/mixins/_animation.scss";
@import "../assets/styles/mixins/_badges.scss";
@import "../assets/styles/mixins/_color-functions.scss";
@import "../assets/styles/mixins/_cards.scss";

/* === Core Styles === */
@import "../assets/styles/_typography.scss";
@import "../assets/styles/_reset.scss";
@import "../assets/styles/_responsive.scss";
@import "../assets/styles/_misc.scss";
@import "../assets/styles/_utilities.scss";

/* === Components === */
@import "../assets/styles/components/_forms.scss";
@import "../assets/styles/components/_icons.scss";
@import "../assets/styles/components/_tables.scss";
@import "../assets/styles/components/_buttons.scss";
@import "../assets/styles/components/_badges.scss";
@import "../assets/styles/components/_cards.scss";
@import "../assets/styles/components/_preview.scss";
@import "../assets/styles/components/_dropdowns.scss";
@import "../assets/styles/components/_auth.scss";
@import "../assets/styles/_slick-carousel.scss";

/* === Layout === */
@import "../assets/styles/_navbar.scss";
@import "../assets/styles/_sidebar.scss";
@import "../assets/styles/_layout.scss";